/*
* @Author: Mooe
* @Date:   2017-06-05 10:32:13
* @Last Modified by:   Mooe
* @Last Modified time: 2017-06-08 12:46:01
*/
a{transition:0.3s ease;}
*{
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
#header{
    text-align:center;
}
pre, code {
    background: #F3F3F0;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
    font-size: .92857em;
}
code {
    padding: 2px 4px;
    color: #B94A48;
}
pre {
    padding: 10px;
    border: 0px solid #ccc;
    overflow: auto;
}
pre code {
    padding: 3px;
    color: #444;
    line-height: 24px;
}
blockquote {
    margin: 1em 1.5em;
    padding-left: 1.5em;
    border-left: 4px solid #F3F3F0;
}
a > img {
    position: absolute;
    top: 6px;
    left: 7px;
    width: 55px;
}
a {
    text-decoration: none;
    outline:none;
    color:cadetblue;
}
nav{
    display: inline-block;
    padding-top: 12px;
}

nav a {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 30px;
    padding-top: 62px;
    text-align: center;
    color: cadetblue;
}
nav a.current {
    background: rgba(230,244,250,.5);
    border-radius: 5px;
    color:red;
}
nav a:hover {
    background: rgba(230,244,250,.5);
    border-radius: 5px;
}

.search{
    margin:0 auto;
    padding-top:25px;
    width: 400px;
    position:relative;
}

.text {
    border: 0;
    border-radius:10px;
    background:#F2F2F2;
    height:20px;
    width:270px;
    padding: 10px 50px;
}
.text:focus {
    box-shadow:0 0 25px #DEDEDE inset;
}
.search::before, .search::after {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.search::before {
    width: 10px;
    height: 10px;
    border: 3px solid #BBB;
    border-radius: 32px;
    top: 35px;
    left: 26px;
}
.search::after {
    width: 10px;
    height: 3px;
    background: #BBB;
    top: 50px;
    left: 37px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.post{
    text-align: center;
    margin-top: 30px;
}
.post a h2{
    color:cadetblue;
    font-size: 1.5em;
    margin:0 auto;
}
.post a time{
    color:#b5d1d2;
}
.post-content{
    text-align: left;
    color: black;
    width:370px;
    margin:0 auto 80px auto;

}
.comments{
    width:395px;
    margin:0 auto;
    padding-left: 5px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.respond {
}
.textarea{
    border: 0;
    background: #EEE;
    border-radius: .5em;
    padding: .3em .5em;
    max-width: 90%;
}
.submit{
    border:0;
    border-radius:5px;
    background: rgba(230, 244, 250, 0.7);
    width: 74px;
    height:28px;
}

.archive-title{
    text-align: center;
    color: #ddd;
}
.post-title{
    color: #ddd;
}
.error-page{
    text-align: center;
    margin:100px 0;
}
#footer{
    text-align:center;
}

@media screen and (min-width: 768px) {

    .search{
    width: 700px;
    }

    .text {
    height:20px;
    width:570px;
    padding: 10px 50px;
    }
    .post-content{
        width:770px;
    }
    .comments{
    width:770px;
    padding-top: 15px;
    }
}

.comment-list, .comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.comment-list li {
    padding: 14px;
    margin-top: 10px;
    /* border: 1px solid #EEE; */
}
.comment-list li.comment-level-odd {
    background: #F6F6F3;
}
.comment-list li.comment-level-even {
    background: #FFF;
}
.comment-list li.comment-by-author {
    background: rgba(230, 244, 250, 0.36);
    border-radius: 14px;
}
.comment-list li .comment-reply {
    text-align: right;
    font-size: .92857em;
}
.comment-meta a {
    color: #999;
    font-size: .92857em;
}
.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444;
}
.comment-author .avatar {
    float: left;
    margin-right: 10px;
}
.comment-author cite {
    font-weight: bold;
    font-style: normal;
}
.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #EEE;
}
.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
}
#comment-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}
#comment-form .required:after {
    content: " *";
    color: #C00;
}
.page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-align: center;
}
.page-navigator li {
    display: inline-block;
    margin: 0 4px;
}
.page-navigator a {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}
.page-navigator a:hover {
    background: #EEE;
    text-decoration: none;
}
.page-navigator .current a {
    color: #444;
    background: #EEE;
}